@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Fauna One", sans-serif;
  font-size: 11;
  @apply text-primary-500;
}

h1 {
  font-family: "Cinzel", sans-serif;
  font-size: 48;

}

h2 {
  font-family: "Cinzel", sans-serif;
  font-size: 36;
}

h3 {
  font-family: "Cinzel", sans-serif;
  font-size: 20;
}

h4 {
  font-family: "Cinzel", sans-serif;
  font-size: 14;
}